.def-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(218, 141, 0);
  border-radius: 5px;
  padding: 8px;
  width: 150px;
  margin-top: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.def-button:hover {
  background-color: rgba(250, 139, 3, 0.925);
  border: 1px solid rgba(184, 74, 1, 0.151);
  box-shadow: 0 2px 4px rgba(87, 53, 31, 0.445);
  transition: box-shadow 0.4s ease;
  color:white;
}