.sidenav {
  width: 0;
  height: 100%;
  background-color: #6e6e6e;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 10;
  
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.sidenav-cont{ 
  -webkit-backface-visibility:  hidden;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.sidenav a, .sidenav button {
  display:flex;
  justify-content: flex-start;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  transition: 0.3s;
  padding-top: 10px;
  background-color: #6e6e6e00;
  border: none;
  width: 100%;
}

.open {
  width: 250px;
  -webkit-backface-visibility:  hidden;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.avatar-container{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.nav-links{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.nav-icons{
  padding-right: 20px;
}


.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.back-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  border-radius: 5%;
  background-color: #838180;
  width: 80%;
  height: 30px;
}
.back-button-cont{
  display: flex;
  justify-content: center;
}


/* Hover button colors */
.sidenav a:hover, .dropdown button:hover, .back-button:hover {
  color: #ff9f0f;
  background-color: rgb(104, 39, 9);
}

.dropdown-content a{
  display: flex;
  font-size: 15px;
  padding-left: 40px;
  background-color: rgb(88, 88, 88);
}

